# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
*.qmake.cache
*.qmake.stash
*.pro.user*
*.moc
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# Temporary files
*.cache
*.swp

# Symbian target
bld.inf
*.sis
*.pkg
*.mmp
*.loc
*.rss

# QtCreator
*.autosave

#QtCtreator Qml
*.qmlproject.user*
